<h1>Vartojimo paskola</h1>
<section>
  <div>
    <!-- <figure>
      <img src="/assets/smallloan.jpg">
    </figure> -->
    <article>
      <h2>Paskolos, kurios padeda!</h2>
      <p>
        Vartojimo paskola pravers, jei planuojate atnaujinti namus, remontuoti automobilį, įsigyti naujų baldų, buitinės technikos,
        ar kitą brangesnį daiktą.
      </p>
      <ul class="benefits-list">
        <li>Paskola nuo 500 iki 20 000 Eur be užstato.</li>
        <li>Pinigus pervesime Jums į sąskaitą iš karto po sutarties sudarymo.</li>
        <li>Pasiskolintą sumą ar jos dalį galėsite grąžinti anksčiau laiko be papildomų mokesčių.</li>
      </ul>
      <div>
        <a routerLink="/question/1">Pildyti paraišką</a>
      </div>
      <p>
        Atkreipiame dėmesį, kad naudodamiesi finansavimo paslaugomis Jūs prisiimate finansinius įsipareigojimus. Netinkamas finansinių
        įsipareigojimų vykdymas gali daryti neigiamą įtaką Jūsų kredito istorijai, pabranginti skolinimąsi, taip pat gali
        būti pradėtas priverstinis išieškojimas.
      </p>
    </article>
  </div>
</section>
